/* Colors */
/* --------------------------------------------------------------------------- */
$brand-blue-base        : #3093C4;
$brand-blue-light       : #54ABD9;
$brand-blue-medium      : #3994C3;
$brand-blue-dark        : #18727A;
$brand-blue-darker      : #2981B0;

$blue-navy              : #354052;

$teal-base              : #019997;
$teal-light             : #2ABBB3;

$yellow-base            : #FFF100;

$orange-base            : #F6921E;
$orange-dark            : #EA6A32;

$red-base               : #FF0000;

$gray-medium            : #D2D2D2;
$gray-light             : #E6E6E6;
$gray-lighter           : #F0F0F0;

/* Neutral Colors */
$black                  : #000000;
$gray                   : #808080;
$white                  : #FFFFFF;

/* Breakpoints */
/* --------------------------------------------------------------------------- */
$screen-mobile-min          :  320px;
$screen-mobile-max          :  767px;

$screen-tablet-min          :  768px;
$screen-tablet-max          : 1024px;

$screen-desktop             : 1024px;
$screen-desktop-large       : 1400px;