<nav id="nav">
  <div class="container-flex no-padding">
    <div class="col-10 col-flex no-padding">
      <h3 class="col-7">
        <a href="/" style="text-decoration: none">Klasify</a>
      </h3>
      <div class="col-1 desktop-only">
        <label class="text-right">
          <a href="/layouts">Layouts</a>
        </label>
      </div>
      <div class="col-2 desktop-only">
        <label class="text-right">
          <a href="/components">Components</a>
        </label>
      </div>
      <div class="col-2 desktop-only no-padding-left">
        <label class="text-right">
          <a href="/typography">Typography</a>
        </label>
      </div><!--
      <div class="col-1 desktop-only">
        <label class="text-right">
          <a href="helpers.html">Helpers</a>
        </label>
      </div> -->
    </div>
  </div>
</nav>
