.msg-warning {
  color: orange;
}

.msg-alert {
  color: red;
}

.msg-success {
  color: green;
}

.success {
  color: #00ff00
}

.error {
  color: #ff0000;
}

.warning {
  color: #ff9900;
}

label.error {
  display: block;
  margin: 0px;
  color: orange;
}