.box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #EAEAEA;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(167,167,167,0.15);
  width:100%;
  float:left;
  border-radius: 7px;
  margin:1% auto;

  @media (max-width: $screen-mobile-max) {
    margin: 4% auto;
  }
}

.box-header, .box-header-gray {
  width: calc(100% - 40px);
  padding: 20px 0;
  margin: 0 20px;
  float: left;
  font-family: 'Roboto';
  font-size: 16px;
  border-bottom: 2px solid #e6e6e6;
  background:white;
  color:rgb(10,10,10);

  @media (max-width: $screen-mobile-max){
    width: calc(100% - 28px);
    padding: 14px 0;
    margin: 0 14px;
  }
}

.box-body, .box-body-gray {
  width: calc(100% - 40px);
  padding: 20px;
  float: left;
  background: white;
  border-radius: 7px;

  @media (max-width: $screen-mobile-max) {
    width: calc(100% - 28px);
    padding: 14px;
  }
}

.box-footer, .box-footer-gray {
  width: calc(100% - 40px);
  padding: 20px 0;
  margin: 0 20px;
  float: left;
  font-family: 'Roboto';
  font-size: 16px;
  border-top: 2px solid #e6e6e6;
  background:white;

  @media (max-width: $screen-mobile-max){
    width: calc(100% - 28px);
    padding: 14px 0;
    margin: 0 14px;
  }
}
