/* THANK YOU https://github.com/kylefox/jquery-modal */

.modal {
  display: none;
  max-width: 600px;
  max-height:90%;
  overflow: auto;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  vertical-align: middle;

  a.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    color:#2981B0;
    width: 18px;
    line-height: 1.3;
    border-radius: 50%;
    text-align: center;
  }

  a.close-modal:hover {
    border-bottom: 0;
    background: #3994C3;
    color: white;
    width: 18px;
    line-height: 1.3;
    border-radius: 50%;
    text-align: center;
  }

  @media (max-width: $screen-mobile-max){
    max-width: 80% !important;
    max-height:90% !important;
  }
}


.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(spinner.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

.modal-div {
  display: none;
}
