<div id="alerts" class="clear-50" style="margin-top: -50px;"></div>
<div class="clear-10"></div>
<h3>
  Alerts
  <small>
    <a href="#alerts" class="small"><i class="fa fa-chain"></i></a>
  </small>
</h3>
<p>Klasify provides an easy way to create predefined alert messages</p>

<div class="clear-10"></div>

<label>Warning</label>
<div class="col-6">
  <code>
    &lt;p class="<span class="color-orange">warning</span>"&gt;<br>
      &emsp;&emsp;&lt;strong&gt;Warning!&lt;/strong&gt;
      The odds are against you.<br>
    &lt;/p&gt;<br>
  </code>
</div>
<div class="col-6">
  <div class="box no-margin">
    <div class="box-body">
      <p class="warning no-margin">
        <strong>Warning!</strong> The odds are against you.
      </p>
    </div>
  </div>
</div>
<div class="clear-10"></div>

<label>Error</label>
<div class="col-6">
  <code>
    &lt;p class="<span class="color-orange">error</span>"&gt;<br>
      &emsp;&emsp;&lt;strong&gt;Oh no!&lt;/strong&gt;
      I think something went wrong<br>
    &lt;/p&gt;<br>
  </code>
</div>
<div class="col-6">
  <div class="box no-margin">
    <div class="box-body">
      <p class="error no-margin">
        <strong>Oh no!</strong> I think something went wrong
      </p>
    </div>
  </div>
</div>

<div class="clear-10"></div>

<label>Success</label>
<div class="col-6">
  <code>
    &lt;p class="<span class="color-orange">success</span>"&gt;<br>
      &emsp;&emsp;&lt;strong&gt;Our victory assured.&lt;/strong&gt;
      This one's in the bag!<br>
    &lt;/p&gt;<br>
  </code>
</div>
<div class="col-6">
  <div class="box no-margin">
    <div class="box-body">
      <p class="success no-margin">
        <strong>Our victory assured.</strong> This one's in the bag!
      </p>
    </div>
  </div>
</div>
