<div id="box" class="clear-50"></div>
<div class="clear-10"></div>

<h3>
  Box
  <small>
    <a href="#box" class="small"><i class="fa fa-chain"></i></a>
  </small>
</h3>
<p>
  A box is a bordered element with some padding around its content. It is similar to a card.
</p>

<div class="col-12">
  <code>
    &lt;div class="<span class="color-orange">box</span>"&gt;<br>
    &nbsp;&nbsp;&lt;div class="<span class="color-orange">box-header</span>"&gt;Basic Box&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="<span class="color-orange">box-body</span>"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;
      Hello there! My name is Box
    &lt;/p&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;
      You can put all sorts of things here like images, columns, buttons, and more.
    &lt;/p&gt;<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="<span class="color-orange">box-footer</span>"&gt;Box Feet&lt;/div&gt;<br>
    &lt;/div&gt;
  </code>

  <div class="clear-10"></div>
  <label>Result</label>

  <div class="box">
    <div class="box-header">
      Basic Box
    </div>
    <div class="box-body">
      <p>Hello there! My name is Box</p>
      <p>You can put all sorts of things here like images, columns, buttons, and more.</p>
    </div>
    <div class="box-footer">
      Box Feet
    </div>
  </div>
</div>


