<div id="buttons" class="clear-50"></div>
<div class="clear-10"></div>
<h3>
  Buttons
  <small>
    <a href="#buttons" class="small"><i class="fa fa-chain"></i></a>
  </small>
</h3>
<p>Klasify provides four styles of buttons</p>

<div class="col-3">
  <button class="full-width">Quas</button>
  <code>
    &lt;button&gt; Quas &lt;/button&gt;
  </code>
</div>
<div class="col-3">
  <button class="full-width button-lime">Wex</button>
  <code>
    &lt;button class="<span class="color-orange">button-lime</span>"&gt;
      Wex
    &lt;/button&gt;
  </code>
</div>
<div class="col-3">
  <button class="full-width button-orange">Exort</button>
  <code>
    &lt;button class="<span class="color-orange">button-orange</span>"&gt;
      Exort
    &lt;/button&gt;
  </code>
</div>
<div class="col-3">
  <button class="full-width button-white">Invoke</button>
  <code>
    &lt;button class="<span class="color-orange">button-white</span>"&gt;
      Invoke
    &lt;/button&gt;
  </code>
</div>

<div class="clear-10"></div>

<p>You can also set a button to active or disable it</p>

<div class="clear-10"></div>

<label>Active</label>
<div class="col-6">
  <code>
    &lt;button class="<span class="color-orange">active</span>"&gt;I am active&lt;/button&gt;<br>
  </code>
</div>
<div class="col-3">
  <button class="active no-margin full-width">I am active</button>
</div>

<div class="clear-10"></div>

<label>Disabled</label>
<div class="col-6">
  <code>
    &lt;button class="<span class="color-orange">disabled</span>" disabled&gt;I am disabled&lt;/button&gt;<br>
  </code>
</div>
<div class="col-3">
  <button class="disabled no-margin full-width" disabled>I am disabled</button>
</div>

{% include_relative button-group.html %}
