---
layout: default
title: Klasify | Typography
---

<div class="row bg-corporate-blue">
  <div class="container-flex">
    <div class="col-10 col-flex">
      <div class="col-12">
        <div class="clear-10"></div>
        <h2 class="color-white jumbo">
          Typography
        </h2>
        <div class="clear-10"></div>
        <p class="color-white">Font styles and modifiers for the typography on the Klaseko platform</p>
        <div class="clear-10"></div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="container-flex">
    <div class="col-10 col-flex">
      {% include_relative headings.html %}

      {% include personal-space-50.html%}

      {% include_relative font-helpers.html %}


    </div><!-- .col-10 -->
  </div><!-- .container-flex -->
</div>
