.banner {
  height: 320px;
  background: #369BC2;
  background-image: linear-gradient(to bottom, #369BC2 0%, #62B6DD 100%);
}
.klaseko-logo-medium {
  height: 100px;
  background: url(/klasify/images/klaseko-logo-gray.png) no-repeat center center;
  background-size: contain;
}
.wrapper {
  display: table;
  width: 100%;
}
.row {
    display: table-row;
}
.col {
    display: table-cell;
}
.col.wide {
    width: 100%;
    padding-left: 50px;
}
.wide input {
    width: 100%;
}

.bgColor{
  background-color: #F0F0F0;
}

.sidebar{
  position:absolute;
  left:0;
  top:92px;
  bottom: 0;
  width: 150x;
}

.main{
  position: absolute;
  left:150px;
  top:20px;
  right:0;
  bottom:0;
}

@media screen and (max-width: 1000px) {
  .main{
    position: absolute;
    left:0px;
    top:20px;
    right:0;
    bottom:0;
  }
}

.removeListNumber {
  list-style: none;
}

a, u {
  text-decoration: none !important;
}

a:hover {
  color: #2ABBB3 !important;
  text-decoration: none;
  font-weight: none
}

.active{
  color: #2ABBB3 !important;
}

.trademark{
  text-align: center;
}
button.accordion {
  transition: 0.4s;
}

div.panel {
  padding: 0 18px;
  background-color: #d3d3d3;
  display: none;
}

div.panel.show {
  display: block;
}
