#nav {
  height: 48px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid rgb(220, 220, 220);
  box-shadow: 3px 3px 3px rgba(35, 35, 35, 0.05);
  z-index:5;
  background: white;

  #logo {
    width: calc(15% - 8px);
    height: 35px;
    float: left;

    padding: 8px 0px;
    margin-left: 8px;

    // background: url("../images/klaseko-logo.png") left center no-repeat;
    background-size: auto 70%;

    font-size: 18px;
    font-weight: 400;
    color: #2981B0;

    border-right: 1px solid #EAEAEA;

    @media screen and (max-width: $screen-mobile-max) {
      width: 41px;
    }
  }

  .login {
    border-right: 0 !important;
  }

  #current-page {
    float:left;
    width: 70%;
    padding: 18px 17px 16px;

    color: #2981B0;
    font-size: 16px;
  }

  #user {
    width: calc(15% - 100px);
    padding: 18px 17px 16px;
    float:left;
  }

  .show-border-shadow {
    border-bottom: 1px solid rgb(220, 220, 220);
    box-shadow: 3px 3px 3px rgba(35, 35, 35, 0.05);
  }

  .hide-border-shadow {
    border-bottom: none;
    box-shadow: none;
  }
}
