<div class="row">
  <label>Uneven columns</label>
  <div class="col-10">
    <div class="box">
      <div class="box-body">
        <p class="text-center">.col-10</p>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="box">
      <div class="box-body">
        <p class="text-center">.col-2</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="box">
      <div class="box-body">
        <p class="text-center">.col-8</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="box">
      <div class="box-body">
        <p class="text-center">.col-4</p>
      </div>
    </div>
  </div>
</div>
