.container {
  width: 96%;
  padding: 1% 2%;
  float: left;
  max-width: 1440px;
}

.container-flex {
  float: left;
  display: flex;
  width: 100%;
}

.row {
  width:99.8%;
  float:left;
}

.table-container {
  width:100%;
  height:auto;
  float:left;
}

.table-container:nth-child(odd) {
  background: rgb(250,250,250)
}

#filters{
  display: none;
}
