.button-white {
  background:white;
  border:1px solid rgb(230,230,230);
  color:inherit;
}

.button-white:hover {
  background:rgb(245,245,245);
}

.button-white:active {
  background:rgb(235,235,235);
}

.button-white:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(200,200,200, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(200,200,200, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(200,200,200, 0.75);
}

.button-lime {
  background:#8BC540;
  border:1px solid #79b032;
  color:white;
}

.button-lime:hover {
  background: #79b032;
}

.button-lime:active {
  background:#6ca242;
}

.button-lime.active {
  background:#6ca242;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(139,197,64, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(139,197,64, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(139,197,64, 0.75);
}

.button-lime:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(139,197,64, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(139,197,64, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(139,197,64, 0.75);
}

.button-orange {
  background:#F6921E;
  border:1px solid #f08e1c;
  color:white;
}

.button-orange:hover {
  background: #e78717;
}

.button-orange:active {
  background:#e08113;
}

.button-orange:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #f08e1c;
  -moz-box-shadow:    0px 0px 10px 0px #f08e1c;
  box-shadow:         0px 0px 10px 0px #f08e1c;
}

.button-text {
  float: left;
  width:73%;
  padding: 1%;
}

.button-icon {
  float: left;
  width:23%;
  padding: 1%;
}


@media only screen and (max-width: $screen-tablet-min) {
  .button-text { display: none; }
  .button-icon {
    width: 98%;
    padding: 1%;
    text-align: center;
  }
}
