.ta-text, .ta-editor, .form-content {
  width:100%;
  float:left;
  border-radius:7px;
  border:1px solid #ddd;
  margin-top: 10px;
}

#toolbarWC{
  display: none !important;
}

#toolbarCC{
  display: none !important;
}
