.no-padding {
<<<<<<< HEAD
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}
=======
  padding: 0;
}
>>>>>>> 7ffad1024b0d4f04b1b92d31b6baa44ef2c4f009
